
.relative {
    position: relative;
}
.container {
    width: 100%;
    padding: 0 47px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bubb {
	margin-top: 47px:;
}

.logo{
    display: inline-block;
    width: 50px;
    height: 26px;
    background: url(http://www.bubb.com.br/assets/img/sprite.png) no-repeat 0 0;
    vertical-align: middle;
}
.ball {
		display: block;
    width: 72px;
    height: 72px;
   /* position: relative;
*/    line-height: 68px;
    background: #3DAFCA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    float: left;
}
	.ml5 {
    margin-left: 5px!important;
    margin-bottom: 10px;
}
.f11 {
    font-size: 11px;
    display: inline-block;
       
}



header {
    padding: 42px 0;
    border-bottom: 1px solid #EEE;
		display: inline-block;
    width: 100%;
    vertical-align:left; 
 /*   border: red dashed 1px;*/
}

header .menu .item-menu .link-menu {
    display: inline-block;
    padding: 26px 9px 20px 9px;
    color: #4d4d4d;
    border-bottom: 4px solid #EEE;
}
header .menu {
    margin: 0 0 0 150px;
    font-size: 16px;
}

li {
    float: left;
    display: inline-block;
    height: 50px;
    margin-top: 4px;
    padding-top: 8x;
    background-color: white;
  
    text-align: center;
}
a {
    text-decoration: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*
li {
	float:left;
	display: inline-block;
	width:150px;
	height:50px;
	margin-top: 4px;
	padding-top: 8x;
	background-color:white;
	border-bottom: 2px grey solid;
	text-align: center;

}*/
li:hover {

	background-color:grey;
	opacity: .8;

}
ol, ul {
    list-style: none;
}

.top {
	position: relative;
	display: inline-block;
	margin-top: 1px;
	content: none;
}



ul {
	font-family: 'Open Sans', sans-serif;

;
}

.holder-section {
  align-items: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;

;
}

h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	padding-top: 40px;
}
h4{
font-family: 'Gt Walsheim Regular','Open Sans', sans-serif;
	text-align: center;
	font-size:14px ;
	color: white;
	display: inline;
    width: 50px;
    height: 26px;
    vertical-align:middle; 
	}

	.ni {
	border: 0,1,0,1;

}

.tommy {
	width: 800px;
	height: 400px;

}
