/*
html{
	background-color: grey;
}*/
.relative {
    position: relative;
}
.container {
    width: 100%;
    padding: 0 47px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bubb {
	margin-top: 47px:;
}

.logo{
    position: absolute; 
    top: 61px;
    left: 59px;
    width: 100px;
    height: 26px;
    background: url("file:///Users/hunterhawes/projects/bubb/imgs/bb.png") no-repeat 0 0;
    vertical-align: middle;
    z-index: ;
}
.ball {
		display: block;
    width: 72px;
    height: 72px;
   /* position: relative;
*/    line-height: 68px;
    background: #3DAFCA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    float: left;
}
	.ml5 {
		position: absolute;
		top: 68px;
    margin-left: 5px!important;
    margin-bottom: 1px;
}
.f11 {
    font-size: 11px;
    font-family: sans-serif;
    display: inline-block;
    letter-spacing: 2px;
       
}



header {
    padding: 42px 0;
    border-bottom: 1px solid #EEE;
		display: inline-block;
    width: 100%;
 /*   border: red dashed 1px;*/
}

header .menu .item-menu .link-menu {
    display: inline-block;
    padding: 26px 9px 20px 9px;
    color: #4d4d4d;
    border-bottom: 4px solid #EEE;
}
header .menu {
    margin: 0 0 0 150px;
    font-size: 16px;
}

li {
    float: left;
    display: inline-block;
    height: 50px;
    margin-top: 4px;
    padding-top: 8x;
    background-color: white;
  
    text-align: center;
}
a {
    text-decoration: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cont {
	
	    padding: 26px 9px 20px 9px;
}

header .socials .item-social {
    float: right;
}

.pull-right {
    float: right;
}
header .contact .link-email {
    margin: 4px 0 0 0;
    color: grey;
}
header .contact .link-phone {
    color: #4d4d4d;

}
.block {
    display: block;
}
.f-h4 {
    font-size: 18px;
}
.bold {
    font-family: 'Gt Walsheim Bold',sans-serif;
    font-weight: bold;
    float: right;
}

header .socials .item-social .link-social {
    display: inline-block;
    padding: 32px 13px 20px 13px;
    font-size: 18px;
    color: #ccc;
}
/*
li {
	float:left;
	display: inline-block;
	width:150px;
	height:50px;
	margin-top: 4px;
	padding-top: 8x;
	background-color:white;
	border-bottom: 2px grey solid;
	text-align: center;

}*/
li:hover {

	background-color:grey;
	opacity: .8;

}
ol, ul {
    list-style: none;
}

.top {
	position: relative;
	display: inline-block;
	margin-top: 1px;
	content: none;
}



ul {
	font-family: 'Open Sans', sans-serif;

;
}

.holder-section {
  align-items: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;

;
}

h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;
	padding-top: 40px;
}
h4{
font-family: 'Gt Walsheim Regular','Open Sans', sans-serif;
	text-align: center;
	font-size:14px ;
	color: white;
	display: inline;
    width: 50px;
    height: 26px;
    vertical-align:middle; 
	}

	.ni {
	border: 0,1,0,1;

}

.tommy {
	width: 800px;
	height: 400px;

}
