/*
html{
	background-color: grey;
}*/
.relative {
    position: relative;
}
.container {
    width: 100%;
    padding: 0 47px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bubb {
	margin-top: 47px:;
}

.logo{
    position: absolute; 
    top: 61px;
    left: 59px;
    width: 100px;
    height: 26px;
    background: url("file:///Users/hunterhawes/projects/bubb/imgs/bb.png") no-repeat 0 0;
    vertical-align: middle;
    z-index: 2;
}
.ball {
		display: block;
    width: 72px;
    height: 72px;
   /* position: relative;
*/    line-height: 68px;
    background: #3DAFCA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    float: left;
}
	.ml5 {
		position: absolute;
		top: 68px;
    margin-left: 5px!important;
    margin-bottom: 1px;
}
.f11 {
    font-size: 11px;
    font-family: sans-serif;
    display: inline-block;
    letter-spacing: 2px;
       
}



header {
    padding: 42px 0;
    border-bottom: 1px solid #EEE;
		display: inline-block;
    width: 100%;
 /*   border: red dashed 1px;*/
}

header .menu .item-menu .link-menu {
    display: inline-block;
    padding: 26px 9px 20px 9px;
    color: #4d4d4d;
    border-bottom: 4px solid #EEE;
}
header .menu .item-menu .link-menu:hover {
    display: inline-block;
    padding: 26px 9px 20px 9px;
    color: #3DAFCA;
    border-bottom: 4px solid #3DAFCA;
}
header .menu {
    margin: 0 0 0 150px;
    font-size: 16px;
}
/*li:hover {

	color: #3DAFCA;
	opacity: .8;

}*/

li {
    float: left;
    display: inline-block;
    height: 50px;
    margin-top: 4px;
    padding-top: 8x;
    background-color: white;
  
    text-align: center;
}
a {
    text-decoration: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cont {
	
	    padding: 26px 9px 20px 9px;
}


.clearfix:after {
    clear: both;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

header .contact {
    margin: 28px 0 0 35px;
}

header .socials .item-social {
    float: right;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pull-right {
    float: right;
}

header .contact .link-email {
    margin: 4px 0 0 0;
    color: grey;
}
header .contact .link-phone {
    color: #4d4d4d;

}
.block {
    display: block;
}
.f-h4 {
    font-size: 18px;
}
.bold {
    font-family: 'Gt Walsheim Bold',sans-serif;
    font-weight: bold;
    float: right;
}

header .socials .item-social .link-social {
    display: inline-block;
    padding: 32px 13px 20px 13px;
    font-size: 18px;
    color: #ccc;
}
/*
li {
	float:left;
	display: inline-block;
	width:150px;
	height:50px;
	margin-top: 4px;
	padding-top: 8x;
	background-color:white;
	border-bottom: 2px grey solid;
	text-align: center;

}*/

ol, ul {
    list-style: none;
}

/*.top {
	position: relative;
	display: inline-block;
	margin-top: 1px;
	content: none;
}*/



ul {
	font-family: 'Open Sans', sans-serif;

;
}

.holder-section {
  align-items: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	letter-spacing: -3px
}

h3 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
  color: #999;
  font-size: 15px;

}

.heart {
	width: auto;
	height: auto;
	background: url("file:///Users/hunterhawes/projects/bubb/imgs/ht.png") no-repeat 0 0;

}
.btn {
    display: inline-block;
    padding: 12px 35px 13px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: #666;
    background: #FFF;
    font-family: 'Gt Walsheim Bold',sans-serif;
    margin-top: 80px;
    float:left;
}

article-summaries {
  display: block;
  width: 100%;
  height: 390px;
  margin-left: auto;
  margin-right: auto;
}

article {
  display: inline-block;
  width: 20%;
  height: 390px;
  border-top: 5px #3DAFCA;
  border-top: 5px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: white;
  float:left;
  padding: 25px;
    font-size: 15px;
    line-height: 18px;
}
}
article > blue
{
    border-color: #3DAFCA;
}

article:first-child {
  border-left: 1px solid #e6e6e6;
}

article:nth-child(even) {
	border-top: 5px solid #3DAFCA;
}

article > h4 {
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 35px;
	letter-spacing: -2px;
	font-weight: bold;
}

}



h4{
font-family: 'Gt Walsheim Regular','Open Sans', sans-serif;
	text-align: center;
	font-size:14px ;
	color: white;
	display: inline;
    width: 50px;
    height: 26px;
    vertical-align:middle; 
	}

.pp {

	font-family: 'Gt Walsheim Regular','Open Sans', sans-serif;
	font-size:14px ;
	color: #e6e6e6
}

.f13 {
	font-family: sans-serif;
	font-size: 13px;
	font-weight: lighter;
}


	.ni {
	border: 0,1,0,1;

}

.tommy {
	width: 800px;
	height: 400px;

}

.d12 {
	margin-top: 47px:
	;
	.t1{
		font-weight: light;
		font-style:  light;
	}

	.text-center {
		font-family: sans-serif;
	font-size: 13px;
	font-weight: lighter;
		text-align: center;
	}
	.text-right {
    text-align: right;
}

	.form-horizontal .form-group {
    width: 50%;
    padding: 0 25px;
    position: relative;
    margin: 6px 0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 47px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


}

.img-abs {
	background-image: url("http://www.freewebheaders.com/wordpress/wp-content/gallery/grass/natural-green-trimmed-grass-sport-field-background-header.jpg");
  background-color: #cccccc;
	display: inline-block;
  width: 50%;
  float: left;
  min-height: 235px; 
}
.img-abs:hover {
	
}

.img-abs2 {
	background-image: url("http://www.freewebheaders.com/wordpress/wp-content/gallery/basketball/basketball-court-header.jpg");
    background-color: #cccccc;
	display: inline-block;
    width: 50%;
    float: left;
    min-height: 235px;
}

.projects .list-sites .box-site {
	display: inline-block;
    width: 50%;
    min-height: 235px;
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

.forms {
	    display: inline-block;
    text-align: start;
}

#form-contact {
    display: inline-block;
    max-width: 830px;
}
}

